<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widthh ,initial-scale=1.0">
    <title> 感情分析アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="header-container">
            <h1 id="midashi">感情分析アプリ</h1>
            <button id="modalOpen" class="modalbutton">?</button>
        </div>           
        <div id="Modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>How To Use</h1>
                    <span class="modalClose">×</span>
                </div>
                <div class="modal-body">
                    <p>この感情分析アプリを使用して、テキストの感情を簡単に分析することができます。以下のステップに従ってください。</p>
                    <ol>
                        <li>まず、テキストボックスに分析したい文章を入力します。</li>
                        <li>次に、分割数を指定します。分割数は、テキストをいくつのパートに分割して感情分析を行うかを決定します。</li>
                        <li>入力が完了したら、「分析開始」ボタンをクリックしてください。</li>
                        <li>数秒後、テキストの感情分析結果が表示されます。分割数が1の場合、ポーラエリアチャートで感情の割合が示されます。</li>
                        <li>分割数が2以上の場合、各感情の時系列データが折れ線グラフとして表示されます。</li>
                    </ol>
                    <p>感情の種類には、以下の8つがあります。</p>
                    <ul>
                        <li>喜び</li>
                        <li>信頼</li>
                        <li>恐怖</li>
                        <li>驚愕</li>
                        <li>悲しみ</li>
                        <li>嫌悪</li>
                        <li>怒り</li>
                        <li>期待</li>
                    </ul>                    
                </div>
                
            </div>
        </div>
        <form action="/" method="post">
            <textarea name="text" id="inputText" rows="8" cols="50" placeholder="テキストを入力してください"></textarea><br>
            <label for ="splitNum">分割数を指定してください:</label>
            <input type="Number" id="splitNum" name="splitNum" min="1" value="1"><br>
            <button type="submit" id="submitBtn">分析開始</button>
        </form>
        <div id="loader" class="loader" style="display:none;"></div>
        <div id="result">            
            <canvas id="emotionChart" ></canvas>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Tsuchida Rikuto All Rights Reserved.</p>
        <p>Developed by Tsuchida Rikuto</p>
    </footer>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
    

</body>
</html>